$CommonColor:#1a73e8;

.Main-Container{
    display: flex;
    align-items: center;
    width: 130%;
    padding: 48px 40px 36px;
    
}
span{
    font-size: 25px;
    font-weight: 600;
}
header{
    margin-top: 30px;
    margin-left: 10px;
}
h1{
    font-size: 30px;
    margin-top: 20px;
    margin-left: 10px;
}
.Form-content{
    display: flex;
    flex-direction: column;
}
.input-div{
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
    padding: 0px;
}
mat-form-field{
    width: 50%;
    margin-right: 10px;
}
.email{
    width: 99%;
}
.pass-div{
    display: flex;
    flex-direction: column;
}
.svg-div{
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
}
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: $CommonColor!important;
}
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate, .mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate {
    background-color: $CommonColor !important;

}
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: $CommonColor !important;
  }
.but-div{
    display: flex;
    justify-content: space-between;
    flex-flow: row-reverse;
    margin-left: 0px;
    margin-top: 50px;
    margin-bottom: 25px;
}
.pass-hint{
    margin-left: 20px;
    margin-top: 0px;
    width: 83%;
}
.Signin{
    font-family: "Google Sans",Arial,sans-serif;
    font-size: 14px;
    color: $CommonColor;
    font-weight: bolder;
}
.email-a{
    @extend .Signin
}
.next{
    background-color: $CommonColor;
    color: white;
    width: 20%;
}
p{
    text-align: center;
    font-size: 16px;
    font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;
    width: 60%;
}
.temp-para{
    display: flex;
    justify-content: center;
}
mat-hint{
    font-size: 14px;
}
mat-icon{
    font-size: 18px;
    font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif
}

