<mat-card
class="n-mat"
[ngStyle]="{ 'background-color': setColor }"
>
<img [src]="imageUrl" alt="" *ngIf="imageUrl!=null && imageUrl != ''" class= "img"  style="width: 100%;">
<form class="example-form" [formGroup]="NotesForm">
  <div class="t-div t-main">
    <input
      type="text"
      class="title"
      id="temp"
      placeholder="Title"
      formControlName = "title"
      [ngModel]="TitleNote"
      [ngStyle]="{ 'background-color': setColor }"
    />
    <i
      matTooltip="Pin the note"
      class="material-icons-outlined i-pin"
      (click)="pinned=!pinned;isarchive=false"
      *ngIf="!pinned"
      >push_pin</i
    >
    <i
      matTooltip="Unpin the note"
      class="material-icons i-pin"
      (click)="pinned=!pinned;isarchive=false"
      *ngIf="pinned"
      >push_pin</i
    >
  </div>
  <div class="n-div">
    <textarea
      id="notes"
      class="notes"
      placeholder="Take a note..."
      formControlName = "Desc"
      [ngModel]="DescNote"
      (keyup)="autogrow()"
      [ngStyle]="{ 'background-color': setColor }"
    ></textarea>
  </div>
  <div class="chips">
    <div class="chip-div" *ngIf="addRemainder.length > 0">
      <i class="material-icons-outlined">access_time</i>
      <p class="chip">{{ addRemainder }}</p>
      <button
        class="chip-but"
        matTooltip="Delete Remainder"
        (click)="addRemainder = ''"
      >
        <i class="material-icons-outlined">close</i>
      </button>
    </div>
  <div class="chip-div" *ngFor="let notelabel of noteLabels">
    <i class="material-icons-outlined">access_time</i>
    <p class="chip">{{notelabel}}</p>
    <button
      class="chip-but"
      matTooltip="Delete Remainder"
      (click)="noteLabels.splice(noteLabels.indexOf(notelabel),1)"
    >
      <i class="material-icons-outlined">close</i>
    </button>
  </div>
  <div  *ngFor="let person of collaboratorArr">
    <i style="color: blue;" class="material-icons" [matTooltip]="'Shared with '+person['name']">person_pin</i>
  </div>
  </div>
</form>
</mat-card>
<div>
    <div
      class="i-main"
      [ngStyle]="{ 'background-color': setColor }"
    >
      <div class="i-div">
        <i
          class="material-icons-outlined"
          matTooltip="Remind me"
          [matMenuTriggerFor]="
            addRemainder.length == 0 ? Remainder : Remainder_t
          "
          >notifications_none</i
        >
        <mat-menu #Remainder="matMenu" class="remainder-menu">
          <p class="r-par">Remainder:</p>
          <button
            mat-menu-item
            class="remainder-but"
            (click)="addRemainder = 'Today, 8:00PM';set()"
          >
            <p>Later today</p>
            <p>8:00PM</p>
          </button>
          <button
            mat-menu-item
            class="remainder-but"
            (click)="addRemainder = 'Tomorrow, 8:00AM';setTom()"
          >
            <p>Tomorrow</p>
            <p>8:00AM</p>
          </button>
          <button mat-menu-item class="remainder-but" (click)="setRemainder()">
            <p>Next Week</p>
            <p>{{ remainder }}</p>
          </button>
        </mat-menu>
        <mat-menu #Remainder_t class="remainder-menu-2">
          <div>
            <mat-icon style="margin-right: 10px;" class="material-icons" [matMenuTriggerFor]="Remainder" (click)="$event.stopPropagation()">arrow_back</mat-icon>
            <p class="r-par">Pick date & time</p>
          </div>
          <mat-divider></mat-divider>
          <button mat-menu-item class="date-pick" (click)="$event.stopPropagation()">
            <mat-form-field class="example-full-width" appearance="fill">
              <input matInput [matDatepicker]="picker"  [ngModel]="startDate" #date>
              <mat-datepicker-toggle matSuffix [for]="picker">
                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
              </mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </button>
          <button mat-menu-item class="but-time" (click)="$event.stopPropagation()" (close)="timemenu=false">
            <div class="time-div" (click)="timemenu=!timemenu">
              <input type="text" class="time-d" value="{{timeValue}}" style="font-family: 'Roboto' sans-serif;" #time>
              <mat-icon class="material-icons-outlined">keyboard_arrow_down</mat-icon>
            </div>
          </button>
          <div class="timeOption" [class]="timemenu?'active':''">
            <div class="option" (click)="$event.stopPropagation();timemenu=false;timeValue='9:00AM'">
              <p>Morning</p>
              <p>8:00AM</p>
            </div>
            <div class="option" (click)="$event.stopPropagation();timemenu=false;timeValue='1:00PM'">
              <p>Afternoon</p>
              <p>1:00PM</p>
            </div>
            <div class="option" (click)="$event.stopPropagation();timemenu=false;timeValue='6:00PM'">
              <p>Evening</p>
              <p>6:00PM</p>
            </div>
            <div class="option" (click)="$event.stopPropagation();timemenu=false;timeValue='8:00PM'">
              <p>Night</p>
              <p>8:00PM</p>
            </div>
            <div class="option" (click)="$event.stopPropagation();timemenu=false">
              <p>Custom</p>
            </div>
          </div>
          <div class='time-but'>
            <button class="save" (click)="getDateTime(date.value,time.value)" mat-button *ngIf="!timemenu">Save</button>
          </div>
        </mat-menu>
        <i
          class="material-icons-outlined"
          matTooltip="Collaborator"
          (click)="openDialog()"
          >person_add_alt_1</i
        >
        <i
          class="material-icons-outlined"
          matTooltip="Change Color"
          [matMenuTriggerFor]="Color"
          >color_lens</i
        >
        <mat-menu #Color="matMenu" class="color-menu" yPosition="above">
          <div
            class="a-color"
            *ngFor="let color of colourArr"
            matTooltip="{{ color.tooltip }}"
            (click)="setColor = color.colour"
            [ngStyle]="{ 'background-color': color.colour }"
          >
            <i class="material-icons" *ngIf="setColor == color.colour">check</i>
          </div>
        </mat-menu>
        <i class="material-icons-outlined" matTooltip="Add image">image</i>
        <i class="material-icons-outlined" [matTooltip]="isarchive?'Unarchive':'Archive'" (click)="isarchive=!isarchive;pinned=false">archive</i>
        <i
          class="material-icons-outlined more"
          matTooltip="More"
          [matMenuTriggerFor]="menu"
          >more_vert</i
        >
        <mat-menu #menu="matMenu" class="i-option">
          <button
            mat-menu-item
            *ngIf="TitleNote.length > 0 || DescNote.length > 0"
          >
            Delete Label
          </button>
          <button mat-menu-item>Add Label</button>
          <button
            mat-menu-item
            *ngIf="TitleNote.length > 0 || DescNote.length > 0"
          >
            Make a copy
          </button>
        </mat-menu>
      </div>
      <button
        mat-button
        (click)="update()"
        >
        Close
      </button>
    </div>
  </div>