<header>HTML-Form Elements</header>
<form>
  <div class="input-div">
    <label for="name">Enter your name:</label>
    <input type="text" id="name" required placeholder="Name" />
  </div>
  <div class="input-div">
    <label id="pass" for="pwd">Enter your password:</label>
    <input type="password" id="pwd" required placeholder="Password" />
   
  </div>
  <div class="input-div">
    <label for="email">Enter your email Id:</label>
    <input type="email" id="email" required placeholder="Email" />
    
  </div>
  <div class="input-div">
    <label for="url">Enter your URL:</label>
    <input type="url" id="url" required placeholder="Site URL" />
   
  </div>
  <div class="input-div">
    <label for="phone">Enter your Phone Number:</label>
    <input type="tel" id="phone" required placeholder="Contact Number" />
    
  </div>
  <div class="input-div">
    <label for="search">Enter your search input:</label>
    <input type="search" id="search" required placeholder="Search" />
    
  </div>
  <div class="input-div">
    <label for="date">Select your BirthDate:</label>
    <input type="datetime-local" required id="date" />
  </div>
  <div class="input-div">
    <label for="salary">Salary:</label>
    <input
      type="range"
      id="salary"
      min="30000"
      required
      max="50000"
      step="100"
      value="40000"
    />
    <output id="salaryOp" for="salary">40000</output>
  </div>
  <div class="input-div">
    <button>Submit</button>
  </div>
</form>