<h2>Collaborator</h2>
<mat-divider></mat-divider>
<div class="owner">
    <div>
        <i class="material-icons ownerIcon">person</i>
    </div>
    <div>
    <h3 class="o-name">{{data.name}}<p style="font-style: italic; margin-bottom: 0px; margin-left: 8px;"> (Owner)</p></h3>
    <p class="o-email">afrathismath@gmail.com</p>
    </div>
</div>
<div class="owner colab" *ngFor="let colab of data.collab">
    <div class="colab-in">
    <div>
        <i class="material-icons ownerIcon">person</i>
    </div>
    <div>
    <h3 class="o-name">{{data.name}}</h3>
    <p class="o-email">{{colab}}</p>
    </div>
    </div>
    <i class="material-icons icon clear">clear</i>
</div>
<div class="owner addperson">
    <div>
        <i class="material-icons add-icon ownerIcon">person_add_alt_1</i>
        <input type="email" placeholder="Person or email to share with" id = "add-email" class="add-email" (change)="colab_email=changeText($event)" [value]="colab_email"/> 
    </div>
       
        <i class="material-icons t-icons" *ngIf="colab_email.length>0" (click)="data.collab.push(colab_email);colab_email=''">check</i>   
</div>
<div class="d-but">
<button mat-button>Save</button>
<button mat-button mat-dialog-close>Cancel</button>
<div></div>
</div>
