<div>
    <div class="pin-head" *ngIf="pin_dis">Pinned</div>
    <div class="overall-div"> 
        <ng-container  *ngFor="let notes of userNotes" >
      <mat-card
        class="card-disp"
        (click)="openNoteDialog(notes)"
        [ngStyle]="{ 'background-color': notes['color'] }"
        *ngIf = "notes['is_Pin']"
        >
        <div class="d-tit">
          {{ notes["title"] }}
        </div>
        <div class="d-con">
          {{ notes["notes"] }}
        </div>
       <app-icon [notes]="notes"></app-icon>
    </mat-card>
        </ng-container>
    </div>
</div>
<div>
    <div class="pin-head" *ngIf="pin_dis">Others</div>
    <div class="overall-div"> 
        <ng-container  *ngFor="let notes of userNotes" >
      <mat-card
        class="card-disp"
        (click)="openNoteDialog(notes)"
        [ngStyle]="{ 'background-color': notes['color'] }"
        *ngIf = "!notes['is_Pin']"
        >
        <div class="d-tit">
          {{ notes["title"] }}
        </div>
        <div class="d-con">
          {{ notes["notes"] }}
        </div>
          <app-icon [notes]="notes"></app-icon>
    </mat-card>
        </ng-container>
    </div>
</div>

