<div>
    <div class="pin-head" *ngIf="pin_dis">Pinned</div>
    <div class="overall-div"> 
        <ng-container  *ngFor="let notes of userNotes" >
      <mat-card
        class="card-disp"
        (click)="openNoteDialog(notes)"
        [ngStyle]="{ 'background-color': notes['color'] }"
        *ngIf = "notes['is_Pin']"
        >
        <div class="d-tit">
          {{ notes["title"] }}
        </div>
        <div class="d-con">
          {{ notes["notes"] }}
        </div>
        <div class="over-con">
          <i style="cursor: pointer;"
            class="material-icons-outlined i-pin"
            *ngIf="!notes['is_Pin']"
            (click)="$event.stopPropagation();pin(notes)"
            >push_pin</i
          >
          <i style="cursor: pointer;"
            class="material-icons i-pin"
            *ngIf="notes['is_Pin']"
            (click)="$event.stopPropagation();pinned=!pinned;pin(notes)"
            >push_pin</i
          >
          <div class="i-div">
            <i
              class="material-icons-outlined"
              matTooltip="Remind me"
              [matMenuTriggerFor]="
                addRemainder.length == 0 ? Remainder : Remainder_t
              "
              (click)="$event.stopPropagation()"
              >notifications_none</i
            >
            <mat-menu #Remainder="matMenu" class="remainder-menu">
              <p class="r-par">Remainder:</p>
              <button
                mat-menu-item
                class="remainder-but"
                (click)="addRemainder = 'Today, 8:00PM'; set()"
              >
                <p>Later today</p>
                <p>8:00PM</p>
              </button>
              <button
                mat-menu-item
                class="remainder-but"
                (click)="addRemainder = 'Tomorrow, 8:00AM'; setTom()"
              >
                <p>Tomorrow</p>
                <p>8:00AM</p>
              </button>
              <button
                mat-menu-item
                class="remainder-but"
                (click)="setRemainder()"
              >
                <p>Next Week</p>
                <p>{{ remainder }}</p>
              </button>
            </mat-menu>
            <mat-menu #Remainder_t class="remainder-menu-2">
              <div>
                <mat-icon
                  style="margin-right: 10px"
                  class="material-icons"
                  [matMenuTriggerFor]="Remainder"
                  (click)="$event.stopPropagation()"
                  >arrow_back</mat-icon
                >
                <p class="r-par">Pick date & time</p>
              </div>
              <mat-divider></mat-divider>
              <button
                mat-menu-item
                class="date-pick"
                (click)="$event.stopPropagation()"
              >
                <mat-form-field
                  class="example-full-width"
                  appearance="fill"
                >
                  <input
                    matInput
                    [matDatepicker]="picker"
                    [ngModel]="startDate"
                    #date
                  />
                  <mat-datepicker-toggle matSuffix [for]="picker">
                    <mat-icon matDatepickerToggleIcon
                      >keyboard_arrow_down</mat-icon
                    >
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </button>
              <button
                mat-menu-item
                class="but-time"
                (click)="$event.stopPropagation()"
                (close)="timemenu = false"
              >
                <div class="time-div" (click)="timemenu = !timemenu">
                  <input
                    type="text"
                    class="time-d"
                    value="{{ timeValue }}"
                    style="font-family: 'Roboto' sans-serif"
                    #time
                  />
                  <mat-icon class="material-icons-outlined"
                    >keyboard_arrow_down</mat-icon
                  >
                </div>
              </button>
              <div class="timeOption" [class]="timemenu ? 'active' : ''">
                <div
                  class="option"
                  (click)="
                    $event.stopPropagation();
                    timemenu = false;
                    timeValue = '9:00AM'
                  "
                >
                  <p>Morning</p>
                  <p>8:00AM</p>
                </div>
                <div
                  class="option"
                  (click)="
                    $event.stopPropagation();
                    timemenu = false;
                    timeValue = '1:00PM'
                  "
                >
                  <p>Afternoon</p>
                  <p>1:00PM</p>
                </div>
                <div
                  class="option"
                  (click)="
                    $event.stopPropagation();
                    timemenu = false;
                    timeValue = '6:00PM'
                  "
                >
                  <p>Evening</p>
                  <p>6:00PM</p>
                </div>
                <div
                  class="option"
                  (click)="
                    $event.stopPropagation();
                    timemenu = false;
                    timeValue = '8:00PM'
                  "
                >
                  <p>Night</p>
                  <p>8:00PM</p>
                </div>
                <div
                  class="option"
                  (click)="$event.stopPropagation(); timemenu = false"
                >
                  <p>Custom</p>
                </div>
              </div>
              <div class="time-but">
                <button
                  class="save"
                  (click)="getDateTime(date.value, time.value)"
                  mat-button
                  *ngIf="!timemenu"
                >
                  Save
                </button>
              </div>
            </mat-menu>
            <i
              class="material-icons-outlined"
              matTooltip="Collaborator"
              (click)="openDialog(); $event.stopPropagation()"
              >person_add_alt_1</i
            >
            <i
              class="material-icons-outlined"
              matTooltip="Change Color"
              [matMenuTriggerFor]="Color"
              (click)="$event.stopPropagation()"
              >color_lens</i
            >
            <mat-menu
              #Color="matMenu"
              class="color-menu"
              yPosition="above"
            >
            <div
            class="a-color"
            *ngFor="let color of colourArr"
            matTooltip="{{ color.tooltip }}"
            [ngStyle]="{ 'background-color': color.colour }"
            (click)="setColour(notes,color.colour )"
          >
            <i class="material-icons" *ngIf="color.colour == notes['color']" >check</i
            >
              </div>
            </mat-menu>
            <i
              class="material-icons-outlined"
              (click)="$event.stopPropagation()"
              matTooltip="Add image"
              >image</i
            >
            <i
              class="material-icons-outlined"
              [matTooltip]="notes['is_Archive'] ? 'Unarchive' : 'Archive'"
              (click)="
                archive(notes);
                pinned = false;
                $event.stopPropagation()
              "
              >archive</i
            >
            <i
              class="material-icons-outlined more"
              matTooltip="More"
              [matMenuTriggerFor]="menu"
              (click)="$event.stopPropagation()"
              >more_vert</i
            >
            <mat-menu #menu="matMenu" class="i-option">
              <button
                mat-menu-item
              >
                Delete Label
              </button>
              <button mat-menu-item>Add Label</button>
              <button
                mat-menu-item
              >
                Make a copy
              </button>
            </mat-menu>
          </div>
        </div>
    </mat-card>
        </ng-container>
    </div>
</div>
<div>
    <div class="pin-head" *ngIf="pin_dis">Others</div>
    <div class="overall-div"> 
        <ng-container  *ngFor="let notes of userNotes" >
      <mat-card
        class="card-disp"
        (click)="openNoteDialog(notes)"
        [ngStyle]="{ 'background-color': notes['color'] }"
        *ngIf = "!notes['is_Pin']"
        >
        <div class="d-tit">
          {{ notes["title"] }}
        </div>
        <div class="d-con">
          {{ notes["notes"] }}
        </div>
        <div class="over-con">
          <i style="cursor: pointer;"
            class="material-icons-outlined i-pin"
            *ngIf="!notes['is_Pin']"
            (click)="$event.stopPropagation();pin(notes)"
            >push_pin</i
          >
          <i style="cursor: pointer;"
            class="material-icons i-pin"
            *ngIf="notes['is_Pin']"
            (click)="$event.stopPropagation();pinned=!pinned;pin(notes)"
            >push_pin</i
          >
          <div class="i-div">
            <i
              class="material-icons-outlined"
              matTooltip="Remind me"
              [matMenuTriggerFor]="
                addRemainder.length == 0 ? Remainder : Remainder_t
              "
              (click)="$event.stopPropagation()"
              >notifications_none</i
            >
            <mat-menu #Remainder="matMenu" class="remainder-menu">
              <p class="r-par">Remainder:</p>
              <button
                mat-menu-item
                class="remainder-but"
                (click)="addRemainder = 'Today, 8:00PM'; set()"
              >
                <p>Later today</p>
                <p>8:00PM</p>
              </button>
              <button
                mat-menu-item
                class="remainder-but"
                (click)="addRemainder = 'Tomorrow, 8:00AM'; setTom()"
              >
                <p>Tomorrow</p>
                <p>8:00AM</p>
              </button>
              <button
                mat-menu-item
                class="remainder-but"
                (click)="setRemainder()"
              >
                <p>Next Week</p>
                <p>{{ remainder }}</p>
              </button>
            </mat-menu>
            <mat-menu #Remainder_t class="remainder-menu-2">
              <div>
                <mat-icon
                  style="margin-right: 10px"
                  class="material-icons"
                  [matMenuTriggerFor]="Remainder"
                  (click)="$event.stopPropagation()"
                  >arrow_back</mat-icon
                >
                <p class="r-par">Pick date & time</p>
              </div>
              <mat-divider></mat-divider>
              <button
                mat-menu-item
                class="date-pick"
                (click)="$event.stopPropagation()"
              >
                <mat-form-field
                  class="example-full-width"
                  appearance="fill"
                >
                  <input
                    matInput
                    [matDatepicker]="picker"
                    [ngModel]="startDate"
                    #date
                  />
                  <mat-datepicker-toggle matSuffix [for]="picker">
                    <mat-icon matDatepickerToggleIcon
                      >keyboard_arrow_down</mat-icon
                    >
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </button>
              <button
                mat-menu-item
                class="but-time"
                (click)="$event.stopPropagation()"
                (close)="timemenu = false"
              >
                <div class="time-div" (click)="timemenu = !timemenu">
                  <input
                    type="text"
                    class="time-d"
                    value="{{ timeValue }}"
                    style="font-family: 'Roboto' sans-serif"
                    #time
                  />
                  <mat-icon class="material-icons-outlined"
                    >keyboard_arrow_down</mat-icon
                  >
                </div>
              </button>
              <div class="timeOption" [class]="timemenu ? 'active' : ''">
                <div
                  class="option"
                  (click)="
                    $event.stopPropagation();
                    timemenu = false;
                    timeValue = '9:00AM'
                  "
                >
                  <p>Morning</p>
                  <p>8:00AM</p>
                </div>
                <div
                  class="option"
                  (click)="
                    $event.stopPropagation();
                    timemenu = false;
                    timeValue = '1:00PM'
                  "
                >
                  <p>Afternoon</p>
                  <p>1:00PM</p>
                </div>
                <div
                  class="option"
                  (click)="
                    $event.stopPropagation();
                    timemenu = false;
                    timeValue = '6:00PM'
                  "
                >
                  <p>Evening</p>
                  <p>6:00PM</p>
                </div>
                <div
                  class="option"
                  (click)="
                    $event.stopPropagation();
                    timemenu = false;
                    timeValue = '8:00PM'
                  "
                >
                  <p>Night</p>
                  <p>8:00PM</p>
                </div>
                <div
                  class="option"
                  (click)="$event.stopPropagation(); timemenu = false"
                >
                  <p>Custom</p>
                </div>
              </div>
              <div class="time-but">
                <button
                  class="save"
                  (click)="getDateTime(date.value, time.value)"
                  mat-button
                  *ngIf="!timemenu"
                >
                  Save
                </button>
              </div>
            </mat-menu>
            <i
              class="material-icons-outlined"
              matTooltip="Collaborator"
              (click)="openDialog(); $event.stopPropagation()"
              >person_add_alt_1</i
            >
            <i
              class="material-icons-outlined"
              matTooltip="Change Color"
              [matMenuTriggerFor]="Color"
              (click)="$event.stopPropagation()"
              >color_lens</i
            >
            <mat-menu
              #Color="matMenu"
              class="color-menu"
              yPosition="above"
            >
              <div
                class="a-color"
                *ngFor="let color of colourArr"
                matTooltip="{{ color.tooltip }}"
                [ngStyle]="{ 'background-color': color.colour }"
                (click)="setColour(notes,color.colour )"
              >
                <i class="material-icons" *ngIf="color.colour == notes['color']" >check</i
                >
              </div>
            </mat-menu>
            <i
              class="material-icons-outlined"
              (click)="$event.stopPropagation()"
              matTooltip="Add image"
              >image</i
            >
            <i
              class="material-icons-outlined"
              [matTooltip]="notes['is_Archive'] ? 'Unarchive' : 'Archive'"
              (click)="
                archive(notes);
                pinned = false;
                $event.stopPropagation()
              "
              >archive</i
            >
            <i
              class="material-icons-outlined more"
              matTooltip="More"
              [matMenuTriggerFor]="menu"
              (click)="$event.stopPropagation()"
              >more_vert</i
            >
            <mat-menu #menu="matMenu" class="i-option">
              <button
                mat-menu-item
                
              >
                Delete Label
              </button>
              <button mat-menu-item>Add Label</button>
              <button
                mat-menu-item
              >
                Make a copy
              </button>
            </mat-menu>
          </div>
        </div>
    </mat-card>
        </ng-container>
    </div>
</div>

