<div>
  <mat-card (click)="dispNote = !dispNote" *ngIf="!dispNote">
    <div class="t-div">
      <input type="text" class="title" placeholder="Take a note..." />
      <i class="material-icons t-icons">check</i>
      <i class="material-icons t-icons">image</i>
    </div>
  </mat-card>
  <mat-card class="n-mat" *ngIf="dispNote" [ngStyle]="{'background-color':setColor}">
    <form class="example-form" [formGroup]="NotesForm">
      <div class="t-div t-main">
        <input
          type="text"
          class="title"
          id="temp"
          formControlName="title"
          placeholder="Title"
          (change)="TitleNote = checkMenu($event)"
          [ngModel]="TitleNote"
          [ngStyle]="{'background-color':setColor}"
        />
       <i matTooltip="Pin the note" class="material-icons i-pin" >push_pin</i>
      </div>
      <div class="n-div">
        <textarea
          id="notes"
          class="notes"
          formControlName="Desc"
          placeholder="Take a note..."
          (change)="DescNote = checkMenu($event)"
          [ngModel]="DescNote"
          (keyup)="autogrow()"
          [ngStyle]="{'background-color':setColor}"
        ></textarea>
      </div>
      <div class="chip-div" *ngIf = "addRemainder.length>0">
        <i class="material-icons">access_time</i>
          <p class="chip">{{addRemainder}}</p>
          <button class="chip-but"  matTooltip="Delete Remainder" (click)="addRemainder=''"><i class="material-icons">close</i></button>
      </div>
    </form>
  </mat-card>
  <div>
    <div class="i-main" *ngIf="dispNote"  [ngStyle]="{'background-color':setColor}">
      <div class="i-div" >
        <i class="material-icons"  matTooltip="Remind me" [matMenuTriggerFor]="Remainder"
          >notifications_none</i
        >
        <mat-menu #Remainder="matMenu" class="r-option">
          <p class="r-par">Remainder:</p>
          <button mat-menu-item class="remainder-but" (click)="addRemainder = 'Today, 8:00PM'">
            <p>Later today</p>
            <p>8:00PM</p>
          </button>
          <button mat-menu-item class="remainder-but" (click)="addRemainder = 'Tomorrow, 8:00AM'">
            <p>Tomorrow</p>
            <p>8:00AM</p>
          </button>
          <button mat-menu-item class="remainder-but" (click)="setRemainder()">
            <p>Next Week</p>
            <p>{{ remainder }}</p>
          </button>
        </mat-menu>
        <i class="material-icons"  matTooltip="Collaborator" (click)="openDialog()">person_add_alt_1</i>
        <i class="material-icons"  matTooltip="Change Color" [matMenuTriggerFor]="Color">color_lens</i>
        <mat-menu #Color="matMenu" class="r-option">
          <div class="a-color" *ngFor = "let color of colourArr" (click)="setColor=color" [ngStyle]="{'background-color': color}">
          </div>
        </mat-menu>
        <i class="material-icons"  matTooltip="Add image">image</i>
        <i class="material-icons"  matTooltip="Archive">archive</i>
        <i class="material-icons more"  matTooltip="More" [matMenuTriggerFor]="menu">more_vert</i>
        <mat-menu #menu="matMenu" class="i-option">
          <button
            mat-menu-item
            *ngIf="TitleNote.length > 0 || DescNote.length > 0"
          >
            Delete Label
          </button>
          <button mat-menu-item>Add Label</button>
          <button
            mat-menu-item
            *ngIf="TitleNote.length > 0 || DescNote.length > 0"
          >
            Make a copy
          </button>
        </mat-menu>
        <button [disabled]="true" class="i-but">
          <i class="material-icons">undo</i>
        </button>
        <button [disabled]="true" class="i-but">
          <i class="material-icons">redo</i>
        </button>
      </div>
      <button
        mat-button
        (click)="
          createNote(); TitleNote = ''; DescNote = ''; dispNote = !dispNote
        "
      >
        Cancel
      </button>
    </div>
  </div>
</div>
